---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
    <style>
        main {
            padding-top: 4rem;
        }
    </style>
    <main>
        <a
            href="/"
            style="display: flex; flex-direction: row; align-items: center; gap: 1rem;"
            ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                width="24px"
                height="24px"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"></path>
            </svg>
            Back home</a
        >
        <h1 style="text-align: center">Blog</h1>
        <p style="text-align: center">
            Blog coming soon! I'll write about random things that I think are
            worth sharing
        </p>
    </main>
</Layout>
